<h1>Log a new workout!</h1><br>

<form action="/workouts" method="post">
  Date: <input type="date" name="workout[date]"><br>
  Bodyweight: <input type="number" name="workout[bodyweight]"><br><br>

  <% 10.times do %>
    Exercise: <input type="text" name="workout[exercises][][name]"><br>
    Weight: <input type="number" name="workout[exercises][][weight]"><br>
    Sets: <input type="number" name="workout[exercises][][sets]"><br>
    Reps: <input type="number" name="workout[exercises][][reps]"><br><br>
  <% end %>
  
  <input type="submit">
</form>
