<h1>Welcome to the Workout Logger!</h1><br><br>

<h2>Create an account or log in to begin logging workouts</h2><br><br>

<a href="/users/new">Create Account</a><br><br>
or <br><br>
<form method="post" action="/login">
  Log In:
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>
